<footer>
    <div class="bg-dark mb-0">
        <div id="links" class="text-center">
            <a href=""><i class="fab fa-github fa-3x text-white m-2"></i></a>
            <a href=""><i class="fab fa-linkedin fa-3x text-white m-2"></i></a>
            <a href=""><i class="fab fa-facebook fa-3x text-white m-2"></i></a>
        </div>
        <hr style="color: white;">
        <div class="text-center">
            <h5 class="text-center text-white"> © 2021 - 9999 Happy supermarket</h5>
        </div>
    </div>
</footer>