<app-inv-nav></app-inv-nav>
<div class="container">
    <div id="categoryInfo" class="mb-3">
        <h4>Products for category : {{ categoryName }}</h4>
        <button class="btn btn-success customBtn" (click)="gotoAddProd()">Add product</button>
    </div>
    <div class="row row-cols-2 row-cols-md-4 g-4" *ngIf="products.length > 0">
        <div class="col" *ngFor="let prod of products; let i = index" id="{{prod.prodId}}">
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col text-warning">
                            <h5 class="fst-italic">
                                {{prod.brand}}
                            </h5>
                        </div>
                        <div class="col">
                            <h5>
                                {{prod.prodName}}

                            </h5>
                        </div>
                    </div>
                    <button (click)="selectIndex(i)" type="button" class="btn btn-primary customBtn"
                        data-bs-toggle="modal" data-bs-target="#detailsModal">
                        <i class="fas fa-info-circle me-2"></i>
                        Info
                    </button>
                    <button class="btn btn-warning customBtn text-white" (click)="editProduct(prod.prodId)"><i
                            class="fas fa-edit"></i>Edit</button>
                    <button class="btn btn-danger customBtn text-white" (click)="deleteProduct(prod.prodId)"><i
                            class="fas fa-trash-alt"></i>Delete</button>
                </div>
                <div class="p-2">
                    <img [src]="prod.prodImages[0]" class="card-img-top img-fluid border border-dark"
                        alt="Product image">
                </div>
                <div class="card-body">
                    <div>
                        <h5 class="d-inline-block me-2">For sale?{{prod.forSale}}</h5>
                        <button class="btn btn-success text-white customBtn" (click)="updateForSale(prod.prodId, 1)">
                            <i class="fas fa-check"></i>
                        </button>
                        <button class="btn btn-danger text-white customBtn" (click)="updateForSale(prod.prodId, 0)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="mt-1">
                        <h4>Stock:<span class="badge bg-primary">{{prod.stock}}</span></h4>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control customInput" id="stock" placeholder="0"
                                name="newStock" ngModel (change)="changed($event)">
                            <label for="stock">Add stock</label>
                        </div>
                        <button class="btn btn-success customBtn text-white" (click)="updateStock(prod.prodId)">Update
                            stock</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="products.length == 0">
        <h4 class="text-warning">No products found</h4>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="modalProdName" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProdName"></h5>
                <button type="button" class="btn btn-close customBtn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalBrand"></p>
                <p id="modalProdCategory"></p>
                <p id="modalProdSubCategory"></p>
                <p id="modalPrice"></p>
                <p id="modalDiscount"></p>
                <p id="modalMaxOrderQty"></p>
                <p id="modalProdDescription"></p>
            </div>
        </div>
    </div>
</div>